/dersler.py
/desktop.ini
/list tuple ve dick ozellik tablosu.jpg
/mymodul.py
/python  52pdf.pdf
/steing sorgulam veya test metodları 2.png
/string arama metodları.png
/string budama kırpma metodları.png
/string budama ve kirpma metodları 2.png
/string bölme metdolari.png
/String metodları.png
/string olusturma metodları.png
/string sorgulama veya test metodları.png
/__pycache__
